<!doctype html>

<html lang="en" ng-app="moviesApp">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>玉玲瓏看電影 2015年度推薦</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.fullpage/2.5.9/jquery.fullPage.min.js">
    <link rel="stylesheet" href="css/star.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/responsive.css">
    <meta name="activity_id" content="1" />
    <meta property="og:site_name" content="" />
    <meta property="og:title" content="玉玲瓏看電影 2015年度推薦" />
        <meta property="og:description" content="回顧過去一年的電影生活。" />
        <meta property="og:image" content="http://img6.douban.com/view/activity_page/raw/public/p507.jpg" />
    <script type="text/javascript" src="js/do.js" data-cfg-autoload="false"></script>
    <script src="http://angular.github.io/angular-phonecat/bower_components/angular/angular.js"></script>
    <script src="js/controllers.js"></script>

</head>
<body id="loading" ng-controller="listCtrl">
        <div class="msk">
            <div class="wp">
                <h1>玉玲瓏2015電影心得 載入中...</h1>
            </div>
        </div>
    <header id="header" class="container clearfix"></header>
    <div id="main">
        <div class="section start-page-widget" data-anchor="0">
            
            <div class="bg enable-animate" style="background: #000;">
                    <div class="bg-items clearfix">
                        <div class="bg-items-inner">
                            <div class="bg-item" data-src="pics/movies2015.jpg"></div>
                        </div>
                    </div>
            </div>

            <img src="pics/down.png" alt="Down" class="down-btn">

        </div>

        <div class="section top-10-widget top-5-widget" data-anchor="{{index+1}}" ng-repeat="(index,data) in movies" >
            <div ng-include="templates[0].url"></div>
        </div>    

        <div class="section dialogue-widget" data-anchor="{{index+1}}" ng-repeat="(index,data) in quotes">
            <div ng-include="templates[1].url"></div>
        </div>
        
        <div id="back-to-top"></div>

        <script type="text/javascript">
            Do.add('jquery', {path: 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js', type: 'js'});
            Do.add('touchSwipe', {path: 'https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.15/jquery.touchSwipe.min.js', type: 'js'});
            Do.add('keyframes', {path: 'http://cdn.bootcss.com/jquerykeyframes/0.0.9/jquery.keyframes.min.js', type: 'js'});
            Do.add('easings', {path: 'http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js', type: 'js'});
            Do.add('slimscroll', {path: 'http://cdn.bootcss.com/fullPage.js/2.7.6/vendors/jquery.slimscroll.min.js', type: 'js'});
            Do.add('fullPage', {path: 'http://cdn.bootcss.com/fullPage.js/2.7.6/jquery.fullPage.min.js', type: 'js', requires: ['slimscroll', 'easings']});
            Do.add('_', {path: 'https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.js', type: 'js'});

            var isMobile = 'False' === 'True';
            var DB_CONF = {
                isLogin: 'False' === 'True'
            };
        </script>

        <script src="js/index.js"></script>
        <div alt="main-pic">
            <img type="hidden" alt="cover" src="http://img6.douban.com/view/activity_page/raw/public/p507.jpg">
    </div>
</body>


</html>
